.sidemenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
    ::v-deep(.el-menu) {
        height: 100%;
        .el-menu-item.is-active {
            color:whitesmoke;
            background-color: aqua;
        }
    }
}
