.topmenu {
    .top {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 10px;
        border-bottom: 1px solid grey;
        .left {
            display: flex;
        }
        .right {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                height: 40px;
                border-radius: 40px;
            }
        }
    }
    .bottom {
        padding-top: 10px;
        border-bottom: 1px solid red;
        display: flex;
        .el-tag {
            margin-right: 15px;
        }
    }
}